*{
    padding: 10px;
    margin: auto;
    background-color: rgb(34, 34, 34);
}

.h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 60px;
}

.dapp{
    padding-left: 300px;
    padding-top: 110px;
    position: absolute;
}